<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807371526884-elalkqh9kuv89n3j8756okaf6sn424eb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807371526884-elalkqh9kuv89n3j8756okaf6sn424eb</string>
	<key>API_KEY</key>
	<string>AIzaSyBKe4c7qRlx6NHB1OZYKhOVXZA52vbIz6E</string>
	<key>GCM_SENDER_ID</key>
	<string>807371526884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kratik.SweatAppRestart</string>
	<key>PROJECT_ID</key>
	<string>sweatapp-c5d70</string>
	<key>STORAGE_BUCKET</key>
	<string>sweatapp-c5d70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:807371526884:ios:6687730cd72178c8a952f1</string>
</dict>
</plist>
